body,
html {
    height: 100%;
}

body {
    background-color: #f0f0f0;
    /* Light gray background color */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.jumbotron {
    background-color: #2b8e61;
    /* Dark green for the jumbotron */
    color: #fff !important;
    /* text-align: center; */
    padding: 20px;
    border-radius: 0;
    font-family: 'Pacifico', cursive;
    /* Custom font */
}

.main {
    padding: 45px;
    text-align: center;
}

.btn {
    padding: 10px;
    margin: 3px;
}

.logout {
    padding: 5px;
    margin: 3px;
}

.search {
    padding: 0.375rem;
}

.table {
    width: 100%;
    overflow-x: auto;
}

table {
    border: 1px solid #2b8e61;
    text-align: center;
    margin: 10px auto;
}

table th {
    border: 1px solid #2b8e61;
    text-align: center;
    padding: 0.75rem;
}